<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="bg-dark text-white"> <!-- Add dark background and white text -->
    <div class="movie-detail container mt-4">
        <h1>{{ movie.title }}</h1>

        <!-- Trailer-->
        <h3>Trailer:</h3>
        {% if movie.trailer_url %}
            <iframe width="560" height="315" src="{{ movie.trailer_url }}" frameborder="0" allowfullscreen></iframe>
        {% else %}
            <p>No trailer available.</p>
        {% endif %}




        <!-- Movie Information -->
        <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
        <p><strong>Genres:</strong> {{ genres }}</p>

        <!-- Movie Description -->
        <p><strong>Description:</strong> {{ movie.description }}</p>

        <!-- Reviews Section -->
        <h3>User Reviews</h3>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <strong>Rating:</strong> {{ review.rating }}/10<br>
                        {{ review.review }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet.</p>
        {% endif %}
    </div>
</body>
</html>
